*.code-workspace
*.html
*.pkl
*.png
*.py[cod]
.github
.idea/
.profile
.profile-amz*
.vscode/
/config/apprise.conf
Pipfile.lock
__pycache__/
build/
dist/
geckodriver.log
html_saves/*.html
screenshots/*.png
logs/*.log*
tags
.venv*